
body{
}

#space{
    position:relative;
    top:50vh;
    left:50vw;

}
#planet{
    position:relative;
    background-color: black;
    height:100px;
    width:100px;
    border-radius: 50px;
    z-index:0;
}

#moon{
    position:relative;
    background-color: red;
    height:50px;
    width:50px;
    border-radius: 25px;
    animation-name:revolve;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    z-index:-1;
    top:-75px;
    left:25px;
    zoom:0%;
    transform:scale(0,0);
    opacity:0;
}
#planet:hover{
    background-color: cadetblue;
}

@keyframes revolve{
    8%{opacity:0;}
    25%{top: 0px;left:0px;z-index:0;transform:scale(0.25,0.25);opacity:1;animation-timing-function: linear;}
    50%{top:-75px;left:25px;z-index:0;transform:scale(0.5,0.5);opacity:1;animation-timing-function: linear;}
    75%{top:-150px;left:50px;z-index:0;transform:scale(0.25,0.25);opacity:1;animation-timing-function: linear;}
    88%{opacity:0;}
    100%{top:-75px;left:25px;z-index:-1;transform:scale(0,0);opacity:0;}
}